<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="DSO_Economic.Properties.Settings.DataDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Data.accdb"
            providerName="System.Data.OleDb" />
      <add name="DSO_Economic.Properties.Settings.CsvDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\;Extended Properties=&quot;Text;HDR=Yes;FMT=Delimited&quot;;"
          providerName="System.Data.OleDb" />

      <!-- Benutzerdefinierte Datenbank in connectionString ... Beispiele siehe: http://connectionstrings.com/ -->
      <!-- Verwendung mit Programmparameter /usecustomdb -->
      <add name="DSO_Economic.Properties.Settings.CustomDB" connectionString=""
          providerName="System.Data.OleDb" />

    </connectionStrings>
</configuration>