<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DSO_Economic.Properties.Settings.DataDB" connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=|DataDirectory|\Data.accdb"
          providerName="System.Data.Odbc" />
    <add name="DSO_Economic.Properties.Settings.CsvDB" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};DBQ=|DataDirectory|\;Extensions=txt;"
        providerName="System.Data.Odbc" />
    <add name="DSO_Economic.Properties.Settings.SQLiteDB" connectionString="Driver={SQLite3 ODBC Driver};Database=|DataDirectory|\data.db;LongNames=0;Timeout=1000;NoTXN=0;SyncPragma=NORMAL;StepAPI=0;"
        providerName="System.Data.Odbc" />
    
    <!-- Benutzerdefinierte Datenbank in connectionString("ODBC Driver") ... Beispiele siehe: http://connectionstrings.com/ -->
    <!-- Verwendung mit Programmparameter /usecustomdb -->
    <add name="DSO_Economic.Properties.Settings.CustomDB" connectionString=""
        providerName="System.Data.Odbc" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="0.32" />
  </appSettings>
</configuration>