<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DSO_Economic.Properties.Settings.DataDB" connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=|DataDirectory|\Data.accdb" providerName="System.Data.Odbc" />
    <add name="DSO_Economic.Properties.Settings.CsvDB" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};DBQ=|DataDirectory|\;Extensions=txt;" providerName="System.Data.Odbc" />
    <add name="DSO_Economic.Properties.Settings.SQLiteDB" connectionString="Driver={SQLite3 ODBC Driver};Database=|DataDirectory|\data.db;LongNames=0;Timeout=1000;NoTXN=0;SyncPragma=NORMAL;StepAPI=0;" providerName="System.Data.Odbc" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="0.40" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.Web.Ria.Services.DomainServiceHttpModule, System.Web.Ria, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>